<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <style type="text/css">
       .msg,.login{
            text-align: center;
            margin-top: 25px;
            margin-bottom:25px;
       }

        form{
            width: 30%;
        }
        .center {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
        }
    </style>
</head>
<body>
    <nav class="h1 navbar navbar-light p-3 mb-2 bg-primary text-white justify-content-between">
      <a class="navbar-brand">INCHARGE Login Page</a>
    </nav>
    <br>
    <h5 class="msg">{{ msg }}</h5>
    <br>
    <form action="/inchargelogin" method="POST" class="center">
        <div class="form-group">
            <label for="InputEmail1">Email</label>
            <input type="text" name="text" class="form-control" id="InputEmail1" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="InputPassword1" placeholder="Password">
        </div>
        <div>
            New User ? Click to <a href="{{url_for('inchargeregister')}}">Sign-Up</a>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>